html {
    font-size: 10px;
}


.claudia-index-card-intro-box {
    width: 384px;
    height: 620px;
    background-color: #fff;
    border-radius: 40px;
    padding: 35px 40px 10px 40px;
    box-shadow: 0px 3px 6px #D1C5B8;
    position: absolute;
    transition: 1s;
    top: 35px;
    left: 0px;
    opacity: 0;
    display: none;
}

#claudia-index-card-intro-city {
    color: #F6BD60;
}

#claudia-index-card-intro-title1 {
    color: #66AB8C;
}

#claudia-index-card-intro-title2 {
    color: #66AB8C;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.claudia-index-card-intro-box hr {
    border: 1px solid #66AB8C;
    width: 304px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.claudia-index-card-intro-outside img {
    width: 304px;
    border-radius: 10px;

}

#claudia-index-card-intro-intro {
    color: #858585;
    width: 304px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 2.5rem;

}

.claudia-index-card-intro-button button{
    width: 304px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
}

.claudia-index-card-intro-button button::after {
    width: 320px;
}


@media only screen and (max-width: 57.6rem) {

    .claudia-index-card-intro-box{
        width: 335px;
        height: 590px;
    }

    .claudia-index-card-intro-box hr {
        width: 255px;
    }

    .claudia-index-card-intro-outside img {
        width: 255px;
    }

    #claudia-index-card-intro-intro {
        width: 255px;
    }

    .claudia-index-card-intro-button button {
        width: 255px;
        height: 45px;
    }

    






}







