.cha-order-row {
  /* border: solid .1rem red; */
  margin: auto;
  margin-top: 5rem;
  /* padding-top: 4.25rem; */
  width: 82.5rem;
  height: 24rem;
  border-bottom: 0.1rem solid #decdbb;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* //   margin-top: 2rem;
}

.cha-order-row-in-row {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /* margin-top: 4.25rem; */
}

.cha-order-column1-picture {
  height: 14rem;
  width: 14rem;
  background-color: rgb(255, 249, 170);
  margin-right: 2rem;
  /* //   width: 30%; */
}

.cha-order-column2 {
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 56rem;
}

.cha-order-column2-row1 {
  /* color: #858585; */
  color: #f48145;
  font-size: 1.8rem;
  font-weight: 600;
}

/* .cha-order-orange {
    color: #f48145;

} */

.cha-order-column2-row2,
.cha-order-column2-row3,
.cha-order-column2-row3,
.cha-order-column2-row4,
.cha-order-column2-row5 {
  font-size: 1.5rem;
  color: #858585;
}

.cha-order-column2-row5 {
  color: #f6bd60;

  text-decoration: underline;
  font-size: 1.8rem;
  font-weight: 600;
}

.cha-order-column2-row5 span {
  margin-right: 2rem;
  cursor: pointer;
}

.cha-order-column3-btn {
  height: 17rem;
}

.cha-order-in-column3-control-height {
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cha-order-column3-btn input {
  height: 3rem;
  width: 10rem;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  border: 0.1rem solid#f48145;
  color: #f48145;
}

.cha-order-column3-btn input:hover {
  background-color: #f48145;
  color: #fff;
}

.cha-order-column3-btn input.cha-order-btn-858585 {
  border: 0.1rem solid #858585;
  color: #858585;
}

.cha-order-column3-btn input.cha-order-btn-858585:hover {
  background-color: #858585;
  color: #fff;
}

.cha-order-divider {
  user-select: none;
  color: #adadad;
  margin: 0 1rem 0 1rem;
}
