.to-top {
  width: 4.0rem;
  height: 4.0rem;
  position: fixed;
  bottom: 6.0rem;
  right: 6.0rem;
  cursor: pointer;
  background-color: rgba(216, 0, 0, 0);
  border: none;
  opacity: 0.9;
  outline: none; 
}
.to-top:hover{
  opacity: 1;
}

.monster {
  height: 8.0rem;
  width: 9.6rem;
  position: absolute;
  top: -50%;
  left: -50%;
}

.top-arrow {
  width: 2.2rem;
  height: 1.0rem;
  position: absolute;
  top: -2.0rem;
  left: 1.6rem;
  animation: ani1 1.5s infinite;
}

@keyframes ani1 {
  0% {
    top: -2.0rem;
  }

  50% {
    top: -1.2rem;
  }

  100% {
    top: -2.0rem;
  }
}
