.claudia-index-content-fix-container {
  width: 1440px;
  margin: 0px auto;
}

.claudia-index-content-container {
  display: flex;
  width: 80%;
  margin: 0px auto;
  padding-bottom: 6rem;
}

.claudia-index-card {
  width: 50%;
  height: 690px;
  padding: 35px 0px 0px 30px;
}

.claudia-index-map {
  width: 50%;
  height: 690px;
}

@media only screen and (max-width: 57.6rem) {
  .claudia-index-content-fix-container {
    width: 100%;
    margin: 0px auto;
  }

  .claudia-index-content-container {
    display: block;
    padding-bottom: 0px;
    width: 100%;
  }

  .claudia-index-map {
    width: 50%;
    height: 470px;
    padding-top: 20px;
  }

  .claudia-index-card {
    height: 0px;
    width: 100%;
    padding: 30px 0px 0px 0px;
  }
}
