.claudia-index-content {
    display: flex;
    width: 80%;
    margin: 0px auto;
    padding-bottom: 50px;
}

#claudia-index-card {
    width: 50%;
    height: 690px;
    margin-left: 30px;

}

#claudia-index-map {
    width: 50%;
    height: 690px;
}