.claudia-index-content-container {
    display: flex;
    width: 80%;
    margin: 0px auto;
    padding-bottom: 6rem;
}

.claudia-index-card {
    width: 50%;
    height: 690px;
    margin-left: 30px;
    // display: flex;
    // align-items: center;
    position: relative;

}

.claudia-index-map {
    width: 50%;
    height: 690px;
}

@media only screen and (max-width: 57.6rem) {
    .claudia-index-content-container {
        display: block;
        padding-bottom: 0px;
        width: 335px;
        // margin: 0px 20px;
    }

    .claudia-index-map {
        width: 50%;
        height: 470px;
        padding-top: 20px;
    }

    .claudia-index-card {
        height: 0px;
        width: 100%;
        margin-left: 0px;
    }

}
