.arrowRight-warp:focus {
  outline: none;
}

.arrowRight-warp {
  border: none;
  background-color: #ffffff00;
  margin: 0px;
  padding: 0px;
  width: 100px;
  transition: 0.2s;
}

.arrowRight-warp > img {
  width: 100%;
  cursor: pointer;
}

.arrowRight-warp:active {
  transform: scale(0.85);
}
