.cha-group-menu-fake-navbar {
  width: 100%;
  background-color: #faf;
  height: 15rem;
}
.cha-group-menu-fake-navbar2 {
  width: 100%;
  background-color: #faa;
  height: 8rem;
}
.cha-group-menu-lack-promt{
  border: .1rem solid #E5E5E5;
  color: #858585;
  border-radius: 6rem;
}