.cha-group-menu-fake-navbar {
  width: 100%;
  background-color: #faf;
  height: 15rem;
}
.cha-group-menu-prompt-container {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
.cha-group-menu-prompt-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53rem;
}
.cha-group-menu-lack-prompt {
  border: 0.2rem solid #e5e5e5;
  color: #858585;
  font-size: 2rem;
  border-radius: 6rem;
  width: 11.4rem;
  height: 11.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cha-group-menu-search-icon {
  background: url('./Images/group-search-yellow.svg') no-repeat;
  background-size: cover;
  width: 7.4rem;
  height: 7.4rem;
  display: flex;

  flex-direction: column;
  align-items: center;
  & div {
    margin-top: 10rem;
    color: #F6BD60;
    font-size: 1.5rem;
  }
  & 
}
.cha-group-menu-arrow-one {
  background: url('./Images/group-arrow-yellow.svg');
  background-size: 100% 100%;
  width: 1.9rem;
  height: 3.3rem;
  margin-top: 1.5rem;
}
.cha-group-menu-arrow-two {
  background: url('./Images/group-arrow.svg');
  background-size: 100% 100%;
  width: 1.9rem;
  height: 3.3rem;
  margin-top: 1.5rem;
}
.cha-group-menu-group-success {
  background: url('./Images/group-success.svg');
  background-size: cover;
  width: 7.4rem;
  height: 7.4rem;
  display: flex;
  justify-content: center;
  & div {
    margin-top: 10rem;
    color: #a59583;
    font-size: 1.5rem;
  }
}

// * {
//   outline: 1px solid red;
// }
