.claudia-fake-navbar {
    width: 100vw;
    height: 100px;
}

.claudia-index-background{
    position: relative;

}

.claudia-index-background-image {
    background-image: url(./Images/index_bg.jpg);
    height: 765px;
    width: 1440px;
    
}

//change top after adding navbar
.claudia-index-text {
    font-family: 'Noto Serif TC';
    position: absolute;
    top: 500px;
    right: 200px;
}

.claudia-index-text h1 {
    color: #FAFAFA;
}



.claudia-index-text-1 {
    font-size: 50px;
}

.claudia-index-text-2 {
    font-size: 30px;
}

@media only screen and (max-width: 57.6rem) {
    .claudia-fake-navbar {
        width: 375px;
        height: 100px;
    }

    .claudia-index-background-image {
        width: 375px;
        height: 667px;
        background-image: url(./Images/rwd_index_bg.jpg);
    }

    .claudia-index-text {
        position: absolute;
        right: 80px;
    }

    .claudia-index-text-1 {
        font-size: 40px;
    }

    .claudia-index-text-2 {
        font-size: 24px;
    }
}






