// 覆蓋掉原本的預設bootstrap樣式要放在這下面 _variables.scss

html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
$orange: #f48145;
$darkGary: #858585;
$darkBrown: #a59583;
$brown: #decdbb;
$lightBrown: #f7ede2;
$white: #ffffff;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~antd/dist/antd.css';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
//引入字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700&display=swap');

.jess-comment-bg {
  width: 100%;
  display: flex;
  // flex-wrap: wrap;
}
.jess-commentBox {
  width: 70rem;
  // height: 10rem;
  font-size: 1.5rem;
  list-style: none;
}
//commentItem
.jess-commentOder {
  height: 7rem;
  width: 90rem;
  background-color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $darkGary;
  list-style: none;
  border-bottom: 0.1rem solid $darkBrown;
  padding: 1rem;
  display: flex;
  outline: none;
  align-items: center;
}
// .jess-commentOrderStar ul {
//   width: 17rem;
// }
