// 覆蓋掉原本的預設bootstrap樣式要放在這下面 _variables.scss

html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
$primary: #f48145;
$font-size: 1rem;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
//引入字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700&display=swap');

.jess-comment-bg {
  width: 100%;
  margin-top: 15rem;
  display: flex;
  flex-wrap: wrap;
}
.jess-input {
  width: 80rem;
  height: 30rem;
}
.jess-inputText {
  font-size: 3rem;
}
.jess-input-button button {
  width: 11rem;
  height: 3rem;
  font-size: 1.8rem;
  margin-top: 3rem;
}
.jess-inputBorder {
  background: url('../images/SVG/brownBorder.svg') no-repeat;
  width: 80rem;
  height: 1rem;
}
