// 覆蓋掉原本的預設bootstrap樣式要放在這下面 _variables.scss

html {
  font-size: 10px;
}
/* 清除內外邊距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 結構元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文字格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表單元素 */
th, td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
//引入字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600&display=swap');

Container {
  display: flex;
  flex-wrap: wrap;
}
.text {
  padding-top: 10rem;
  margin: 0 auto;
}
.content1 {
  font-size: 2.4rem;
}
Tab {
}
