// 覆蓋掉原本的預設bootstrap樣式要放在這下面 _variables.scss

html {
  font-size: 10px;
}
/* 清除內外邊距 */
* {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
$orange: #f48145;
$darkGary: #858585;
$darkBrown: #a59583;
$brown: #decdbb;
$lightBrown: #f7ede2;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
//引入字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600&display=swap');

.container {
  width: 117rem;
  padding: 0;
  margin-top: 10rem;
}
.jess-productTab {
  width: 117rem;
  height: 67rem;
}
.jess-productTabMenu {
  display: flex;
  list-style: none;
  text-align: center;
  &__item {
    font-size: 2.8rem;
    color: $darkBrown;
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
    padding: 5rem 5rem 3rem 5rem;
    justify-content: space-around;
  }
  & .active {
    color: $orange;
  }
}
// .jess-productTabMenu > li {
//   font-size: 2.8rem;
//   color: $darkBrown;
//   font-family: 'Noto Serif TC', serif;
//   font-weight: 600;
//   padding: 5rem 5rem 3rem 5rem;
//   justify-content: space-around;
// }
.jess-productTabBorder {
  background: url('./SVG/border.svg') no-repeat;
  width: 116rem;
  height: 1rem;
}

// ul,
// li,
// ol {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }
