// 覆蓋掉原本的預設bootstrap樣式要放在這下面 _variables.scss

html {
  font-size: 10px;
}
// * {
//   margin: 0;
//   padding: 0;
// }

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
//引入字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
//navBar的背景

// @media screen and (max-width: 480px)
// @media (min-width: 480px) and (max-width: 680px)

.nav {
  width: 100%;
  height: 13.5rem;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 5rem;
  box-shadow: 0.3rem 0 1rem #cfcfcf;
}

//logo
.nav .nav_brand {
  margin-top: -2rem;
  width: 39rem;
  text-align: center;
}
//text color
.nav a {
  color: #858585;
  text-decoration: none;
}
.nav_navigation {
  width: 114rem;
  display: flex;
  justify-content: space-between;
}

//when text hover
.nav a:hover,
.nav a:focus,
.nav a:active {
  color: #e0611e;
  text-decoration: none;
}

.nav .nav_toggle {
  float: right;
  clear: both;
  display: none;
}

.nav_collapse {
  display: inline-block;
  justify-content: center;
  margin-top: 5rem;
}

.nav_collapse ul {
  list-style: none;
  padding-left: 0;
}
//選單文字
.nav_collapse li {
  padding-left: 10px;
  font-size: 2rem;
}
// 下拉式選單出現切換
.nav_collapse .nav_navigation .nav_navigation_item {
  display: inline-block;
  position: relative;
}
.nav_navigation_item:hover .dropdown {
  display: block;
}
//下拉式選單 none隱藏
.nav_navigation_item .dropdown {
  display: none;
  position: absolute;
  width: 17rem;
  height: 22.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  left: -3rem;
}
//下拉式選單間距
.nav_navigation_item .dropdown .dropdown_item {
  padding: 5px;
}
// 下拉式選單 文字顏色
.nav_navigation_item .dropdown .dropdown_item a {
  color: rgb(255, 255, 255);
  line-height: 3.5rem;
  font-size: 1.8rem;
}
//下拉式選單 hover後效果
.nav_navigation_item .dropdown .dropdown_item:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
//下拉式選單 頂部三角形
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 15px 9px;
  border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
  position: absolute;
  top: -1.5rem;
  left: 8rem;
  text-align: center;
}
//小怪獸的出現效果-低GI便當
.nav_navigation_item .dropdown .dropdown_item .jess-monster1 {
  position: absolute;
  left: 14rem;
  top: 0rem;
  opacity: 0;
  transition: left 0.5s;
  transition-timing-function: linear;
  z-index: 2;
}
.nav_navigation_item .dropdown .dropdown_item:hover .jess-monster1 {
  opacity: 1;
  z-index: 1;
  left: 16rem;
}
//小怪獸的出現效果-美味沙拉
.nav_navigation_item .dropdown .dropdown_item .jess-monster2 {
  position: absolute;
  left: 14rem;
  top: 4.5rem;
  opacity: 0;
  transition: left 0.5s;
  transition-timing-function: linear;
  z-index: 2;
}
.nav_navigation_item .dropdown .dropdown_item:hover .jess-monster2 {
  opacity: 1;
  z-index: 1;
  left: 16rem;
}
//小怪獸的出現效果-蔬菜箱
.nav_navigation_item .dropdown .dropdown_item .jess-monster3 {
  position: absolute;
  left: 14rem;
  top: 9rem;
  opacity: 0;
  transition: left 0.5s;
  transition-timing-function: linear;
  z-index: 2;
}
.nav_navigation_item .dropdown .dropdown_item:hover .jess-monster3 {
  opacity: 1;
  z-index: 1;
  left: 16rem;
}
//小怪獸的出現效果-客製化便當
.nav_navigation_item .dropdown .dropdown_item .jess-monster4 {
  position: absolute;
  left: 14rem;
  top: 13.5rem;
  opacity: 0;
  transition: left 0.5s;
  transition-timing-function: linear;
  z-index: 2;
}
.nav_navigation_item .dropdown .dropdown_item:hover .jess-monster4 {
  opacity: 1;
  z-index: 1;
  left: 16rem;
}
//小怪獸的出現效果-外送服務
.nav_navigation_item .dropdown .dropdown_item .jess-monster5 {
  position: absolute;
  left: 14rem;
  top: 18rem;
  opacity: 0;
  transition: left 0.5s;
  transition-timing-function: linear;
  z-index: 2;
}
.nav_navigation_item .dropdown .dropdown_item:hover .jess-monster5 {
  opacity: 1;
  z-index: 1;
  left: 16rem;
}
//shopping cart number
.jess-navbarAmount {
  position: absolute;
  top: 4rem;
  right: 15rem;
}

.jess-navbarCartNum {
  font-family: 'Noto Sans TC';
  font-weight: bold;
  position: absolute;
  top: 4rem;
  right: 15.5rem;
  font-size: 1.3rem;
  color: #ffffff;
}
.nav .nav_toggle {
  float: right;
  clear: both;
  display: none;
  font-size: 4rem;
}
/*mobile styles*/
@media (max-width: 576px) {
  .nav .nav_toggle {
    display: block;
  }
  .jess-navbarAmount {
    display: none;
  }
  .jess-navbarCartNum {
    display: none;
  }

  .collapse {
    display: none;
  }
  .nav_navigation {
    width: 100%;
  }
  .nav_collapse {
    position: absolute;
    top: 42px;
    left: 0;
    // background-color: ;
    width: 100%;
  }

  .nav_collapse .nav_navigation {
    text-align: center;
    flex-direction: column;
  }

  .nav_collapse .nav_navigation .nav_navigation_item {
    display: block;
    position: relative;
    padding: 10px 0;

    // display: none;
  }

  .nav_navigation_item .dropdown {
    display: none;
  }
  //logo
  .nav .nav_brand {
    display: none;
  }
}
