// 覆蓋掉原本的預設bootstrap樣式要放在這下面 _variables.scss

html {
  font-size: 10px;
}
// * {
//   margin: 0;
//   padding: 0;
// }

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
//引入字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
//navBar的背景
.jess-navBox {
  max-width: 144rem;
  height: 13.5rem;
  background-color: rgb(238, 238, 238);
  box-shadow: 0.3rem 0 1rem #cfcfcf;
}
.jess-textTotal {
  display: flex;
  margin-top: 3rem;
  margin: 0 auto;
}
.jess-navSelect:hover {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.3);
}
.jess-text {
  width: 12rem;
  font-size: 2rem;
  list-style-type: none;
}
.jess-navText {
  font-family: 'Noto Sans TC';
  font-size: 2rem;
  display: flex;
  width: 39rem;
  margin-top: 3rem;
  text-align: center;
}
.jess-navText2 {
  font-family: 'Noto Sans TC';
  width: 39rem;
  font-size: 2rem;
  display: flex;
  margin-top: 3rem;
  text-align: center;
}
//下拉式選單的底色
// .dropdown-menu {
//   width: 17rem;
//   height: 23rem;
//   background: rgba(0, 0, 0, 0.3);
//   /*設定第二層選單樣式*/
//   //   display: none; /*隱藏區塊*/
//   position: absolute; /*設定為絕對位置*/
// }
// .switch {
//   display: block;
//   position: relative;
// }
.dropdown {
  width: 17rem;
  height: 20rem;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0rem;
  left: -3rem;
  text-align: center;
  border-radius: 0.5rem;
  z-index: 10;
  //   display: none;
}
// .switch > div {
//   position: absolute;
//   z-index: 1;
//   visibility: hidden;
//   transition: visibility 0.5s;
//   opacity: 0;
// }
// .switch > li:hover ~ .dropdown {
//   //   display: block;
//   visibility: visible;
//   opacity: 1;
// }
//
// .switch {
//   display: block;
//   position: relative;
// }
// .switch:hover div {
//   display: block;
// }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 13px 9px;
  border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
  position: absolute;
  top: -1.3rem;
  left: 8rem;
  text-align: center;
}

//下拉式選單的文字樣式
.jess-navSelect {
  width: 17rem;
  font-family: 'Noto Sans TC';
  font-size: 1.8rem;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 4rem;
  text-align: center;
  list-style-type: none;
}
.jess-navSelect a {
  font-family: 'Noto Sans TC';
  font-size: 1.6rem;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 4rem;
  text-align: center;
  list-style-type: none;
}
.jess-navSelect a:hover {
  color: rgb(255, 255, 255);
}

.jess-navLogo {
  width: 39rem;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}
a {
  color: #858585;
}
a:hover {
  color: #e0611e;
  text-decoration: none;
}

a:focus {
  color: #e0611e;
  text-decoration: none;
}
