.cha-navbar-group-order {
  width: 100%;
  height: 7rem;
  background-color: #fff;
  position: fixed;
  top: 0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #000;
  text-align: center;
  white-space: nowrap;
}
.cha-progress-bar-header {
  font-size: 24px;
  background:url('./Images/cha-logo.svg')
  w128
}
// .cha-right-arrow {
//   width: 15px;
//   position: absolute;
//   left: 40px;
//   cursor: pointer;
// }

.cha-right-arrow {
  background: url('./Images/right-arrow-gray.svg') no-repeat;
  background-position: center center;
  height: 28px;
  width: 15px;
  position: absolute;
  left: 40px;
  cursor: pointer;
}
.cha-right-arrow:hover {
  background: url('./Images/right-arrow-lightgray.svg') no-repeat;
}
