.cha-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: 2.0rem;
}

.cha-order .cha-step1-product-name {
  font-size: 1.6rem;
}

.cha-order .cha-step1-product-price {
  font-size: 1.6rem;
  color: #f48145;
}

.cha-order-right,
.cha-order-left{
  display: flex;
  align-items: center;
}

.cha-order-right>div{
  margin-right: 2.0rem;

}
.cha-order-left>div{
  margin-left: 4.0rem;

}
.cha-trash-can{
  background: url('./Images/trash-can-gray.svg') no-repeat;  
  background-position: center center;
  // background-size: cover;
  width: 2.2rem;
  height: 2.5rem;
  cursor: pointer;
}
.cha-trash-can:hover{
  background: url('./Images/trash-can-yellow.svg') no-repeat;
}

.cha-product-pic {
  width: 5.7rem;
  height: 5.7rem;
  background-color: #faf;
}
