@import "Ru/Pages/variable.scss";

// ------------------------------------------- 網頁版 s -------------------------------------------
.ru-item-container {
  // background-color: seagreen;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  // margin-bottom: 60px;
  background-image: url("./RuBento/Images/background.png");
  background-size: 100%;
}

.ru-card-warp {
  // background-color: gold;
  @include page();
  width: 100%;
}

.ru-itemWarp {
  // background-color: cornflowerblue;
  min-height: 532px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include flex($df, $fdr, space-between, $als);
}

.ru-itemWarp .ru-card-container {
  width: 27.9135%;
  margin-bottom: 80px;
}
// ------------------------------------------- 網頁版 e -------------------------------------------

//  ------------------------------------------- ipad pro版 s -------------------------------------------
@media screen and (min-width: 992px) and (max-width: 1365.99px) {
  //   // ******** 便當 / 沙拉 s ********

  .ru-item-container  {
    background-size: 150%;
  }

  .ru-card-warp {
    // background-color: gold;
    @include page-iPadPro();
    width: 100%;
  }

  .ru-itemWarp {
    // background-color: cornflowerblue;
    @include flex($df, $fdr, space-around, $als);
  }

  .ru-itemWarp .ru-card-container {
    width: 40%;
    margin: 0px 1%;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.9px) {
  //   //   // ******** 便當 / 沙拉 s ********

  .ru-item-container {
    background-size: 250%;
  }

  .ru-card-warp {
    // background-color: gold;
    @include page-iPad();
    padding: 0px 30px;
    width: 100%;
  }

  .ru-itemWarp {
    // background-color: cornflowerblue;
    @include flex($df, $fdr, space-around, $als);
  }

  .ru-itemWarp .ru-card-container {
    width: 45%;
    margin: 0px 0%;
    margin-bottom: 80px;
  }
}
//  ------------------------------------------- ipad pro版 e -------------------------------------------

//  ------------------------------------------- ipad 版 s -------------------------------------------

@media screen and (min-width: 576px) and (max-width: 767.99px) {
  .ru-item-container{
    background-size: 300%;
  }

  .ru-card-warp {
    // background-color: gold;
    @include page-iPad();
    padding: 0px 40px;
    width: 100%;
  }

  .ru-itemWarp {
    // background-color: cornflowerblue;
    @include flex($df, $fdr, space-around, $als);
  }

  .ru-itemWarp .ru-card-container {
    width: 60%;
    margin: 0px 1.59%;
    margin-bottom: 80px;
  }
}
//  ------------------------------------------- ipad 版 e -------------------------------------------

//  ------------------------------------------- 手機 版 s -------------------------------------------
@media screen and (max-width: 575.99px) {
  // ******** 便當 / 沙拉 s ********

  .ru-item-container{
    background-size: 400%;
  }

  .ru-card-warp {
    // background-color: gold;
    height: 100%;
    width: 100%;
    @include page-phone();
  }

  .ru-itemWarp {
    // background-color: cornflowerblue;
    height: 100%;
    @include flex($df, $fdc, space-between, $als);
  }

  .ru-itemWarp .ru-card-container {
    width: 100%;
    margin: 0px 0px 80px 0px;
  }
}
//  ------------------------------------------- 手機 版 e -------------------------------------------
