.claudia-detailed-nav-buttons {
    margin: 65px auto;
}

.claudia-detailed-nav-buttons h1 {
    font-size: 24px;
    color: #858585;
    text-align: center;
    margin-bottom: 50px;
}

.claudia-detailed-nav-buttons-area {
    width: 890px;
    height: 390px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.claudia-detailed-nav-buttons-area img{
    width: 120px;
    height: 120px;
}

.claudia-detailed-nav-buttons-area .claudia-taiwan {
    width: 80px;
    height: 120px;
}

.claudia-detailed-nav-buttons-box {
    width: 170px;
    height: 200px;
    text-align: center;
}

.claudia-detailed-nav-buttons-icons {
    width: 170px;
    height: 120px;
    margin: 0 auto;
}

