.cha-fake-navbar {
  width: 100%;
  height: 13.5rem;
  background-color: #faf;
  position: fixed;
}

.cha-bc-lunch-box {
  background: url('./Images/bc-lunch-box.jpg') no-repeat;
  height: 100rem;
  background-size: cover;
}
.cha-group-sign-in-card{
  margin: auto;
  width: 70rem;
  border-radius: .5rem;
  border: 0.1rem solid #e5e5e5;
  box-sizing: border-box;
  height: 400px;
  background-color: #fff;
  margin-top: 20rem;
}
// .cha-group-sign-in-card {
//   width: 70rem;
//   height: 5rem;
//   border-radius: 0.5rem;
//   border: 0.1rem solid #e5e5e5;
//   background-color: #fff;
//   margin-right: 0.5rem;
//   margin-bottom: 1rem;
//   // padding: 3rem;
//   box-sizing: border-box;
//   margin: auto;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }
.cha-group-sign-in-header {
}
