.cha-fake-navbar {
  width: 100%;
  height: 13.5rem;
  background-color: #faf;
  position: fixed;
}

.cha-bc-lunch-box {
  background: url('./Images/bc-lunch-box.jpg') no-repeat;
  height: 100rem;
  background-size: cover;
  padding-top: 22rem;
}
.cha-group-sign-in-card {
  margin: auto;
  width: 70rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #e5e5e5;
  box-sizing: border-box;
  height: 400px;
  background-color: #fff;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  padding: 3rem;
}
.cha-group-sign-in-header {
  color: #858585;
  font-size: 3rem;
}
.cha-group-sign-in-header-div{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

}
.cha-horizontal-line {
  border-bottom: 0.1rem solid #8585853a;
}

.cha-group-sign-in-btn {
  height: 4.5rem;
  width: 17.0rem;
  border-radius: 5.0rem;
  background-color: #fff;
  border: solid .1rem #e0611e;
  outline: none;
  color: #e0611e;
  font-size: 1.8rem;
  &:hover {
    background-color: #e0611e;
    color: #fff;
  }
}
.cha-group-sign-in-btn-div {
  display: flex;
  justify-content: „Ñè;
  margin-top: 2.0rem;
  margin-bottom: 4.0rem;
}