.cha-fake-navbar {
  width: 100%;
  height: 13.5rem;
  background-color: #faf;
  position: fixed;
}

.cha-bc-lunch-box {
  background: url('./Images/bc-lunch-box.jpg');
  height: 100rem;
  background-color: #faf;
  background-size: contain;
}
.cha-group-sign-in-card{
  width: 4000px;
  height: 4000px;
  background-color: #faf;
}
.cha-group-sign-in-card {
  width: 70rem;
  height: 5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #e5e5e5;
  background-color: #fff;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  // padding: 3rem;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cha-group-sign-in-header {
}
