.cha-breadcrumbs-row {
  margin-top: 80px;
}
.cha-group-create-icon {
  background: url('./Images/group-create.svg');
  width: 52px;
  height: 62px;
}
.cha-group-search-icon {
  background: url('./Images/group-search.svg');
  width: 52px;
  height: 62px;
}
.cha-group-menu-icon {
  background: url('./Images/group-create.svg');
  width: 52px;
  height: 62px;
}
.cha-group-arrow-icon {
  background: url('./Images/group-create.svg');
  width: 52px;
  height: 62px;
}
