.cha-group-wrap{
  margin-top: 0rem;
  padding: 9rem;
  background-color: #f7ede2;
}
.cha-group-breadcrumbs-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cha-group-breadcrumbs-row {
  margin-top: 10.0rem;
  margin-bottom: 3.0rem;
  width: 51.4rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
}
.cha-group-breadcrumbs-icon {
  width: 6.4rem;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cha-group-create-icon {
  background: url('./Images/group-create.svg');
  background-size: 100% 100%;
  width: 5.2rem;
  height: 6.2rem;
}
.cha-group-search-icon {
  background: url('./Images/group-search.svg');
  background-size: 100% 100%;
  width: 6.4rem;
  height: 6.4rem;
}
.cha-group-menu-icon {
  background: url('./Images/group-menu.svg');
  background-size: 100% 100%;
  width: 5.8rem;
  height: 5.2rem;
}
.cha-group-arrow-icon {
  background: url('./Images/group-arrow.svg');
  background-size: 100% 100%;
  width: 1.9rem;
  height: 3.3rem;
  margin-top: 1.5rem;
}
.cha-group-breadcrumbs-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  & span {
    margin-top: 1.0rem;
    font-weight: 600;
  }
}
.cha-group-create-text-yellow {
  color: #f6bd60;
}
.cha-group-search-text,
.cha-group-menu-text {
  color: #a59583;
}

.cha-group-create-card {
  width: 70.0rem;
  border-radius: .5rem;
  border: .1rem solid #e5e5e5;
  background-color: #fff;
  margin-right: .5rem;
  margin-bottom: 1.0rem;
  padding: 3.0rem;
  box-sizing: border-box;
  margin: auto;
}
.cha-group-create-header {
  color: #858585;
  font-size: 3.0rem;
}
.cha-group-create-header-div {
  display: flex;
  justify-content: center;
}
.cha-group-create-alert {
  color: #e0611e;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
}
.cha-group-create-alert-to-order-management{
  color: #7C7C7C;
  margin-top: 1.0rem;
  text-decoration:underline;
}