.cha-group-wrap {
  margin-top: 0rem;
  background-color: #f7ede2;
}

.cha-group-create-card {
  width: 70rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #e5e5e5;
  background-color: #fff;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 3rem;
  box-sizing: border-box;
  margin: auto;
}
.cha-group-create-header {
  color: #858585;
  font-size: 3rem;
}
.cha-group-create-header-div {
  display: flex;
  justify-content: center;
}

.group-left-monster{
  background: url('./Images/group-left-monster.svg');
  width: 125px;
  height: 142px;
}
.group-right-monster{
  background: url('./Images/group-right-monster.svg');
  width: 141px;
  height: 129px;
}
