.cha-breadcrumbs-container{
    display: flex;
    justify-content: center;
 width: 400px;   
}.cha-breadcrumbs-row {
  margin-top: 80px;
  display:flex;
  justify-content: space-around
}
.cha-group-create-icon {
  background: url('./Images/group-create.svg');
  width: 52px;
  height: 62px;
}
.cha-group-search-icon {
  background: url('./Images/group-search.svg');
  width: 64px;
  height: 64px;
}
.cha-group-menu-icon {
  background: url('./Images/group-menu.svg');
  width: 58px;
  height: 52px;
}
.cha-group-arrow-icon {
  background: url('./Images/group-arrow.svg');
  width: 19px;
  height: 33px;
}
