@import "Ru/Pages/variable.scss";

// ------------------------------------------- 網頁版 s -------------------------------------------
.ru-box-warp .st0 {
  stroke: none;
}

.ru-custom-container {
  // 超過設計稿部份
  // background-color: rgb(0, 185, 71);
  overflow: hidden; // 遮蔽背景圖
  padding-top: 90px;
  margin-bottom: 60px; // footer距離
  position: relative;
}

.ru-custom-container > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 1920px;
}

.ru-custom-warp {
  // 1440區
  // background-color: rgb(255, 242, 185);
  @include page();
}

.ru-drop-container {
  // 1170區
  // background-color: rgb(139, 189, 255);
  margin-bottom: 30px;
  @include flex($df, $fdr, $jcc, $alc);
}

.ru-drop-warp {
  // background-color: #fbbafb;
  width: 1200px;
  display: flex;
}

.ru-box-container {
  // background-color: #9acd32;
  width: 66.185%;
  @include flex($df, $fdr, $jcc, $alc);
}

.ru-box-warp {
  // background-color: aqua;
  width: 100%;
  position: relative;
}

#ru-hintA {
  width: 20%;
  height: 20%;
  position: absolute;
  opacity: 0.225;
  top: 14.5%;
  left: 14%;
  transform-origin: bottom right;
  transform: scale(1.365);
  pointer-events: none;
}

#ru-hintB {
  width: 16.3%;
  height: 20%;
  position: absolute;
  opacity: 0.225;
  top: 22.1%;
  left: 47.8%;
  transform-origin: bottom right;
  transform: scale(1.73);
  pointer-events: none;
}

#ru-hintC {
  width: 20%;
  height: 20%;
  position: absolute;
  opacity: 0.225;
  top: 14.5%;
  left: 73.65%;
  transform-origin: bottom right;
  transform: scale(1.365);
  pointer-events: none;
}

#ru-hintD {
  width: 20%;
  height: 20%;
  position: absolute;
  opacity: 0.225;
  top: 113.5%;
  left: 74%;
  transform-origin: bottom right;
  transform: scale(4.38);
  pointer-events: none;
}

#ru-hintE {
  width: 20%;
  height: 20%;
  position: absolute;
  opacity: 0.225;
  top: 50.5%;
  left: 8.25%;
  transform-origin: bottom right;
  transform: scale(0.98);
  pointer-events: none;
}

#ru-hintF {
  width: 20%;
  height: 20%;
  position: absolute;
  opacity: 0.225;
  top: 97.25%;
  left: 73.5%;
  transform-origin: bottom right;
  transform: scale(3.275);
  pointer-events: none;
}

#ru-areaA {
  // background-color: red;
  width: 29.5%;
  height: 38.5%;
  top: 4%;
  left: 4.5%;
  position: absolute;
  // opacity: 0.5;
}

#ru-areaB {
  // background-color: rgb(255, 217, 0);
  width: 29.5%;
  height: 38.5%;
  top: 4%;
  left: 35.325%;
  position: absolute;
  // opacity: 0.5;
}

#ru-areaC {
  // background-color: rgb(38, 255, 0);
  width: 29.5%;
  height: 38.5%;
  top: 4%;
  left: 66.25%;
  position: absolute;
  // opacity: 0.5;
}

#ru-areaD {
  // background-color: rgb(0, 204, 255);
  width: 91.25%;
  height: 50%;
  top: 45.5%;
  left: 4.5%;
  position: absolute;
  // opacity: 0.5;
}

#ru-areaE {
  // background-color: rgb(217, 0, 255);
  width: 19.5%;
  height: 37%;
  top: 51%;
  left: 8.5%;
  position: absolute;
  // opacity: 0.5;
}

#ru-areaF {
  // background-color: rgb(98, 0, 255);
  width: 65%;
  height: 33.75%;
  top: 52%;
  left: 28%;
  position: absolute;
}

.ru-put {
  cursor: grab;
}

.ru-detail-container {
  // background-color: #fbd7e8;
  width: 33.815%;
  height: 100%;
  margin-left: 50px;
}

.ru-switchBtn-container {
  // background-color: #a0522d;
  height: 35px;
  border-bottom: 1px solid $customBorder;
  @include flex($df, $fdr, $jcc, $alc);
}

.ru-switchBtn-container button:focus {
  outline: none;
}

.ru-switchBtn-container button:nth-child(1) {
  background-color: #ffffff00; // 無背景色
  border: none;
  text-align: right;
  margin-right: 15px;
  padding: 0px;
  @include font($notoSansTC, $minor-heading, $bold, 0px, $customSelection-color);
}

.ru-switchBtn-container button:nth-child(2) {
  background-color: #ffffff00; // 無背景色
  border: none;
  text-align: left;
  margin-left: 15px;
  padding: 0px;
  @include font($notoSansTC, $minor-heading, $bold, 0px, $customSelection-color);
}

// 開關開啟
.ru-switchBtn-container #ru-active {
  @include font($notoSansTC, $minor-heading, $bold, 0px, $light-orange);
}

// .ru-info-container {
// background-color: palegoldenrod;
// }

.ru-checkout-container {
  // background-color: powderblue;
  @include flex($df, $fdc, $jcc, $alc);
}

.ru-checkout-warp {
  // background-color: rgb(239, 255, 92);
  margin-top: 28px;
  @include flex($df, $fdc, $jcc, $alc);
}

.ru-drag-container {
  // 1170區
  // background-color: #ffc1bc;
  @include flex($df, $fdr, $jcc, $alc);
}

.ru-drag-warp {
  // background-color: rgb(141, 232, 255);
  width: 100%;
  border-top: 1px solid $customBorder;
}

.ru-selection-container {
  // background-color: rgb(126, 71, 255);
  width: 100%;
  @include flex($df, $fdr, $jcc, $alc);
}

.ru-selection-warp {
  // background-color: rgb(255, 194, 89);
  width: 45.3%;
  margin: 30px 0px;
  @include flex($df, $fdr, space-between, $alc);
}

.ru-arrow-container {
  // background-color: cadetblue;
}

.ru-arrow-container .ru-arrowLeft-warp {
  width: 10.145%;
}

.ru-species-container {
  // background-color: thistle;
  width: 100%;
  height: 160px;
  margin: auto;
  @include flex($df, $fdr, space-between, $alc);
}

.ru-selection-warp .ru-buttonB {
  margin: 0px 10px;
}

.ru-species-warp {
  // background-color: blue;
  width: 100%;
  height: 100%;
  // margin: 0px 50px;
  overflow: hidden;
}

.ru-species-warp ul {
  // background-color: #a52a2a;
  // 寬度數值 = 全部li的總px => 再把總px換成百分比
  width: 1000%; // 給極大值才可以放入足夠的flex-basis
  height: 100%;
  margin: 0px;
  padding: 0px;
  @include flex($df, $fdr, $jcs, $alc);
}

.ru-species-warp li {
  list-style: none;
}

.ru-arrow-container .ru-arrowRight-warp {
  width: 10.145%;
}

// 切換商品區 ----------
.ru-detail-container-web {
  display: block;
}

.ru-detail-container-rwd {
  display: none;
}
// ------------------------------------------- 網頁版 e -------------------------------------------

//  ------------------------------------------- ipad 版 s -------------------------------------------

@media screen and (min-width: 992px) and (max-width: 1365.99px) {
  .ru-custom-warp {
    // 1440區
    // background-color: rgb(255, 242, 185);
    @include page-iPadPro();
  }

  .ru-detail-container-web {
    margin-left: 30px;
  }

  .ru-selection-warp {
    width: 57.35%;
  }

  // 切換商品區 ----------
  .ru-detail-container-web {
    display: block;
  }

  .ru-detail-container-rwd {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.99px) {
  .ru-custom-warp {
    // 1440區
    // background-color: rgb(255, 242, 185);
    @include page-iPad();
    padding: 0px 30px;
    width: 100%;
  }

  .ru-drop-warp {
    display: block;
  }

  .ru-box-container {
    width: 100%;
  }

  .ru-detail-container {
    width: 100%;
    margin: 0px;
  }

  .ru-selection-warp {
    width: 69.25%;
    margin: 25px 0px;
  }

  .ru-arrow-container .ru-arrowLeft-warp,
  .ru-arrow-container .ru-arrowRight-warp {
    width: 14.145%;
  }
  // 切換商品區 ----------
  .ru-detail-container-web {
    display: none;
  }

  .ru-detail-container-rwd {
    display: block;
    width: 75%;
    margin: 0px auto;
    margin-top: 40px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.99px) {
  .ru-custom-warp {
    // background-color: rgb(255, 242, 185);
    @include page-iPad();
    padding: 0px 40px;
    width: 100%;
  }

  .ru-drop-warp {
    display: block;
  }

  .ru-box-container {
    width: 100%;
  }

  .ru-detail-container {
    width: 100%;
    margin: 0px;
  }

  .ru-selection-warp {
    width: 69.25%;
    margin: 25px 0px;
  }

  .ru-arrow-container .ru-arrowLeft-warp,
  .ru-arrow-container .ru-arrowRight-warp {
    width: 14.145%;
  }
  // 切換商品區 ----------
  .ru-detail-container-web {
    display: none;
  }

  .ru-detail-container-rwd {
    display: block;
    width: 75%;
    margin: 0px auto;
    margin-top: 40px;
  }
}
//  ------------------------------------------- ipad 版 e -------------------------------------------

//  ------------------------------------------- 手機 版 s -------------------------------------------
@media screen and (max-width: 575.99px) {
  .ru-custom-warp {
    // 1440區
    // background-color: rgb(255, 242, 185);
    @include page-phone();
  }

  .ru-drop-warp {
    display: block;
  }

  .ru-box-container {
    width: 100%;
  }

  .ru-detail-container {
    width: 100%;
    margin: 0px;
  }

  .ru-selection-warp {
    width: 100%;
    margin: 25px 0px;
  }

  .ru-arrow-container .ru-arrowLeft-warp,
  .ru-arrow-container .ru-arrowRight-warp {
    width: 17.145%;
    margin: 0px;
  }

  .ru-species-container{
    height: 300px;
  }

  .ru-species-container .ru-species-warp .ru-species-item {
    // background-color: yellow;
    flex-basis: 250px;
    height: 100%;
    @include flex($df, $fdr, $jcs, $alc);
  }

  #moveArea1 li{
    flex-direction: column;
    text-align: center;
  }

  #moveArea1 li .ru-species-img{
    height: 45%;
  }

  #moveArea1 li .ru-species-info{
    margin: 0px;
  }

  #moveArea1 li .ru-species-info h4{
    display: flex;
    flex-direction: column;
  }

  .ru-box-warp .ru-hint-warp h3{
    font-size: 18px;
  }
  // 切換商品區 ----------
  .ru-detail-container-web {
    display: none;
  }

  .ru-detail-container-rwd {
    display: block;
    margin-top: 40px;
  }
}