@import "Ru/Pages/variable.scss";
// 以下開始自訂CSS
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:focus,
input {
  outline: none;
}

.ru-mainImg {
  height: 362px;
  background-image: url("./Images/mainImg.jpg");
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  @include flex($df, $fdr, $jcc, $alc);
}

.ru-mainImg > h1 {
  display: flex;
  @include font(
    // 字體, 字體大小, 字重, 字距, 字色
    $notoSansTC,
    $sub-title,
    $regular,
    $letter-spacing,
    $white
  );
  @include flex($df, $fdr, $jcc, $alc);
}

// .ru-productList-container {
// background-color: blueviolet;
// }

// .ru-option-container {
// height: 324px;
// }

.ru-searchBar {
  width: 43.76%;
  height: 50px;
  border: 1px solid $grey;
  border-radius: 9999px;
  padding: 0px 20px;
  @include font(
    // 字體, 字體大小, 字重, 字距, 字色
    $notoSansTC,
    $minor-heading,
    $regular,
    0px,
    $light-orange
  );
}

.ru-option-container {
  // background-color: red;
  width: 100%;
}

.ru-optionWarp {
  // background-color: dodgerblue;
  color: white;
  height: 324px;
  @include page();
  @include flex($df, $fdc, $jcc, $alc);
}

.ru-buttonWarp {
  // background-color: rgb(30, 236, 255);
  width: 80.8%;
  height: 64px;
  margin-top: 50px;
  @include flex($df, $fdr, space-between, $alc);
}

.ru-item-container {
  // background-color: blue;
  background-image: url("./Images/background.svg");
  background-position: center center;
  // background-size: cover;
  width: 100%;
}

.ru-card-warp {
  // background-color: gold;
  width: 100%;
  @include page();
}

.itemWarp {
  // background-color: cornflowerblue;
  height: 531.73px;
  margin-bottom: 100px;
  @include flex($df, $fdr, space-between, $als);
}

.itemWarp1 {
  margin-top: 90px;
}
