.claudia-detailed-maintext {
    width: 80%;
    display: flex;
    margin: 65px auto;
}

.claudia-detailed-maintext-left {
    width: 50%;
    margin: 0px auto;
}

.claudia-detailed-maintext-right {
    width: 50%;
    margin: 0px auto;
}

@media only screen and (max-width: 375px) {
    .claudia-detailed-maintext {
        display: block;
    }

    .claudia-detailed-maintext-left {
        width: 90%;
        margin: 0px auto;
    }

    .claudia-detailed-maintext-right {
        width: 90%;
        margin: 0px auto;
    }
}