.claudia-detailed-maintext {
    width: 80%;
    display: flex;
    margin: 65px auto;
}

.claudia-detailed-maintext-left {
    width: 50%;
    margin: 0px auto;

}

.claudia-detailed-maintext-right {
    width: 50%;
    margin: 0px auto;
}