.claudia-detailed-maintext {
    width: 80%;
    display: flex;
    margin: 65px auto;
}

.claudia-detailed-maintext-left {
    width: 50%;
    margin: 0px auto;
}

.claudia-detailed-maintext-right {
    width: 50%;
    margin: 0px auto;
}

@media only screen and (max-width: 57.6rem) {
    .claudia-detailed-maintext {
        width: 335px;
        display: block;
    }

    .claudia-detailed-maintext-left {
        width: 285px;
        margin: 0px auto;
    }

    .claudia-detailed-maintext-right {
        width: 335px;
        margin: 0px auto;
    }

}