.claudia-detailed-recommanded {
    width: 1440px;
    height: 800px
}

.claudia-detailed-recommanded h1 {
    font-family: 'Noto Serif TC';
    color: #66AB8C;
    font-size: 3.6rem;
    text-align: center;
    margin: 60px auto;
}

.claudia-detailed-recommanded-container {
    width: 1020px;
    height: 700px;
    margin: 0 auto;

}

.claudia-detailed-recommanded-card {
    width: 310px;
    height: 480px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0px 3px 6px #D1C5B8;
    padding: 45px 35px;
    cursor: pointer;

}

.claudia-detailed-recommanded-card-container {
    display: flex;
    justify-content: space-between;

}

.claudia-detailed-recommanded-card img {
    width: 240px;
    height: 160px;
    margin: 20px auto 20px auto;
}

.claudia-detailed-recommanded-card h2 {
    font-size: 20px;
    color: #66AB8C;
    text-align: center;

}

.claudia-detailed-recommanded-card h3 {
    font-size: 15px;
    color: #676462;
    margin: 10px auto;
}

@media only screen and (max-width: 375px) {
    .claudia-detailed-recommanded {
        width: 375px;
        height: 570px;
        overflow: hidden;
    }

    .claudia-detailed-recommanded h1 {
        width: 375px;
        font-size: 2.4rem;
        text-align: center;
        margin: 40px auto;
    }

    .claudia-detailed-recommanded-container{
        width: 375px;
        height: 600px;
    }

    .claudia-detailed-recommanded-card-container {
        width: 290px;
        height: 420px;
        padding-left: 40px;
        // overflow: hidden;
    }

    .claudia-detailed-recommanded-card{
        width: 290px;
        height: 410px;
        padding: 20px;
        margin: 0px 5px
    }

    .claudia-detailed-recommanded-card img {
        width: 245px;
        height: 160px;
    }

    .claudia-detailed-recommanded-card h2 {
        font-size: 18px;
    }

    .claudia-detailed-recommanded-card h3 {
        font-size: 14px;
    }

    .claudia-detailed-recommanded-wave {
        display: none;
    }

}

