.claudia-fake-navbar {
    width: 100vw;
    height: 100px;
}

.claudia-detailed-background-image {
    height: 765px;
    width: 1440px;
    position: relative;
    background-image: url(./Images/strawberry.jpg);
}

//change top after adding navbar
.claudia-detailed-text {
    font-family: 'Noto Serif TC';
    position: absolute;
    top: 500px;
    left: 200px;
    color: #fafafa;
    padding-bottom: 10px;
    border-bottom: 1px solid #fafafa;
}

.claudia-detailed-text-1 {
    font-size: 40px;
    color: #fafafa;
}

.claudia-detailed-text-2 {
    font-size: 36px;
    color: #fafafa;
}

@media only screen and (max-width: 57.6rem) {
    .claudia-fake-navbar {
        width: 100vw;
        height: 120px;
    }

    .claudia-detailed-background-image {
        width: 375px;
        height: 547px;
        position: relative;
        background-image: url(./Images/rwd_strawberry.jpg);
    }

    .claudia-detailed-text {
        width: 270px;
        height: 105px;
        position: absolute;
        top: 90px;
        left: 60px;
    }

    .claudia-detailed-text-1 {
        font-size: 40px;

    }

    .claudia-detailed-text-2 {
        font-size: 24px;
    }
}






