html {
    font-size: 10px;
}


.claudia-index-card {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
}

#claudia-index-card-city {
    color: #F6BD60;
    margin-bottom: 20px;
}

#claudia-index-card-title1 {
    color: #66AB8C;
}

#claudia-index-card-title2 {
    color: #66AB8C;
    margin-bottom: 20px;
}

.claudia-index-card hr {
    border: 1px solid #66AB8C;
    width: 310px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.claudia-index-card-outside img {
    width: 310px;

}

#claudia-index-card-intro {
    color: #858585;
    width: 310px;
    height: 130px;
    margin-top: 20px;
    line-height: 2.5rem;

}

.claudia-index-card-button button{
    width: 310px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
}

.claudia-index-card-button button::after {
    width: 320px;
}







