.claudia-detailed-farm-adr h1 {
    font-family: 'Noto Serif TC';
    color: #66AB8C;
    font-size: 3.6rem;
    text-align: center;
    margin: 60px auto;
}

.claudia-detailed-farm-adr-container {
    width: 920px;
    margin: 0px auto;
    display: flex;
    padding-bottom: 70px;
}

.claudia-detailed-farm-adr-info {
    width: 560px;
}
.claudia-detailed-farm-adr-info p {
    font-size: 20px;
    color: #858585;
}

.claudia-detailed-farm-adr-info iframe {
    margin-top: 20px;
}

.claudia-detailed-farm-adr-transport {
    width: auto;
}

.claudia-detailed-farm-adr-transport p {
    font-size: 18px;
    color: #858585;
}

.claudia-detailed-farm-adr-transport-container {
    width: 85%;
    margin: 150px auto;
}



