.cha-aside-card {
  width: 36.0rem;
  /* height: 3.0rem; */
  border-radius: .5rem;
  border: .1rem solid #e5e5e5;
  background-color: #fff;
  margin-left: .5rem;
  padding: 3.0rem;
  box-sizing: border-box;
  position: fixed;

  box-shadow:  0.1rem 0.2rem 0.5rem 0.1rem #c2c2c279;
   
}
.cha-aside-card-fake {
  width: 35.0rem;
  box-sizing: border-box;
}
.cha-step-header {
  font-size: 2.4rem;
  border-bottom: .1rem solid #8585853a;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.cha-farmer-cart-link,
.cha-farmer-cart-switch {
  background-color: #9bccb6;
  height: 4.5rem;
  width: 12.0rem;
  position: absolute;
  top: 1.5rem;
  right: -3.0rem;
  border-radius: 2.5rem .0rem .0rem 2.5rem;
  color: #fff;
  font-size: 1.8rem;
  border: .0rem;
  user-select: none;
  transition: 0.5s;
    &:focus {
      outline: none;
  }
}
.cha-farmer-cart-switch:hover {
  width: 17.0rem;
  background-color: #66ab8c;
  transition: 0.5s;
}

.cha-control-normal-switch:hover + .cha-normal-cart-switch {
  width: 12.0rem;
  // background-color: #66ab8c;
  transition: .5s
}

.cha-normal-cart-switch {
  background-color: #f6bd60;
  height: 4.5rem;
  width: 17.0rem;
  position: absolute;
  top: -3.5rem;
  right: -3.0rem;
  border-radius: 2.5rem .0rem .0rem 2.5rem;
  color: #fff;
  font-size: 1.8rem;
  border: .0rem;
  user-select: none;
  transition: .5s;
  &:focus {
    outline: none;
  }
}
.cha-little-total,
.cha-shipping,
.cha-tableware,
.cha-shopping-list-total {
  font-size: 1.5rem;
  color: #858585;
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
  display: flex;
  justify-content: space-between;
}
.cha-tableware label{
  margin-right: 10.0rem;
}

.cha-shopping-list-total-number {
  color: #f48145;
  font-weight: 600;
  font-size: 3.6rem;
  margin-top: -1.0rem;
}

.cha-shopping-cart-btn {
  height: 4.5rem;
  width: 17.0rem;
  border-radius: 5.0rem;
  background-color: #f48145;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 1.8rem;
}

.cha-shopping-cart-btn:hover {
  background-color: #e0611e;
}

.cha-shopping-cart-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 3.0rem;
  margin-bottom: 3.0rem;
}

.cha-horizontal-line {
  border-bottom: .1rem solid #8585853a;
}

