.aside-card {
  width: 360px;
  /* height: 30px; */
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  margin-left: 5px;
  padding: 30px;
  box-sizing: border-box;
  position: fixed;
}
.aside-card-fake {
  width: 360px;
}
.step-header {
  font-size: 24px;
  border-bottom: 1px solid #8585853a;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.little-total,
.shipping,
.tableware,
.shopping-list-total {
  font-size: 15px;
  color: #858585;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.tableware label {
  margin-right: 100px;
}

.shopping-list-total-number {
  color: #f48145;
  font-weight: 600;
  font-size: 36px;
  margin-top: -10px;
}

.shopping-cart-btn {
  height: 45px;
  width: 170px;
  border-radius: 50px;
  background-color: #f48145;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 18px;
}

.shopping-cart-btn:hover {
  background-color: #e0611e;
}

.shopping-cart-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.horizontal-line {
  border-bottom: 1px solid #8585853a;
}
