html {
    font-size: 10px;
}

.footer-background {
    width: 1440px;
    background-color: #F7EDE2;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.footer-card {
    font-size: 1.5rem;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 7vh;
}


.footer-text a {
    text-decoration: none;
    padding-top: 20px;
    margin: 20px 10px;
    color: #858585;
    display: flex;
    justify-content: center;
}

.footer-text a:hover {
    text-decoration: underline;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.footer-icons img {
    width: 50px;
    height: 50px;
    color: #F48145;
    margin: 20px 10px;
}

.footer-icons img:hover {
    cursor: pointer;
}


.footer-copyright {
    width: 80vw;
    color: #858585;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 10px auto 0px auto;
    border-top: 1px solid #CCCCCC;
}

@media screen and (max-width: 375px) {

    .footer-background {
        width: 375px;
    }

    .footer-copyright p {
      font-size: 1.2rem;
    }

    .footer-icons {
        margin-top: 15px;
    }
  }