@media screen and (max-width: 375px) {
    .claudia-copyright p {
      font-size: 1.2rem;
    }

    .claudia-icons {
        margin-top: 15px;
    }
  }

html {
    font-size: 10px;
}

.claudia-background {
    background-color: #F7EDE2;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.claudia-card {
    font-size: 1.5rem;
}

.claudia-footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 7vh;
}


.claudia-footer-text a {
    text-decoration: none;
    padding-top: 20px;
    margin: 20px 10px;
    color: #858585;
    display: flex;
    justify-content: center;
}

.claudia-footer-text a:hover {
    text-decoration: underline;
}

.claudia-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.claudia-icons svg {
    width: 50px;
    height: 50px;
    fill: #F48145;
    margin: 20px 10px;
}

.claudia-icons svg:hover {
    cursor: pointer;
}


.claudia-copyright {
    width: 80vw;
    color: #858585;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 10px auto 0px auto;
    border-top: 1px solid #CCCCCC;
}